<style>


h1{
  font-size: 60px;
}
h2{
  font-size: 30px;
}
p{
  font-size: 30px;
}
table, th, td {
   border: 1px solid black;
}

th {
    text-align: left;
    font-size: 30px;
}

td {
  text-align: center;
  font-size: 30px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}


.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.0px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.fixed {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

</style>
